<!DOCTYPE html>
<html>
<head>
    <title>Video Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;
        }
</style>
</head>
<body>
    <h2>Lmao nice videos XD</h2>
    <p>Simple video server</a></p><br><br>
    <p>DO NOT MESS WITH HTML in inspect it will break</a></p><br><br>

    {% for filename, filenamesafe, finenameNoExt in links %}
    <a href="/videolocation?name={{ filenamesafe }}"><img src="../static/thumbnails/{{ finenameNoExt }}.jpg" alt="~MISSING THUMBNAIL~ "><br>{{ filename }}</a><br>
    {% endfor %}
</body>
</html>